.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cell {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  text-align: center;
}

.table {
  border-collapse: collapse;
  margin: 10px 0px;
  /*the below code removes a cheatcode. On mouse drag and scroll, the enemies positions are revealed to the user :)*/
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}
