.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cell {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  text-align: center;
}

.table {
  border-collapse: collapse;
}
